*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
header.container h1{
  margin-top: 0;
  margin-bottom: 0;
}
.container{
  color: #fff;
  margin: 0 auto;
  background: url('../img/background-image.jpg') no-repeat center center;
  background-size: cover;
  height: 800px;
  width: 100%;
  text-align: center;
}
h1 {
  font-size: 80px;
  padding: 80px 0;
  letter-spacing: 8px;
  text-transform: uppercase;
}
p{
  font-size: 27px;
  font-weight: 100;
  margin: 20px;
}
.center{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 20%);
  width: 0;
  height: 120px;
  border-left: 6px dashed rgba(255,255,255,.1);
}
.arrow{
  position: absolute;
  top: 0;
  left: -6px;
  height: 40px;
  width: 6px;
  background: #fff;
  animation: animate 3s infinite;
}
.arrow:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: -7px;
  width: 20px;
  height: 20px;
  border-bottom: 6px solid #fff;
  border-right: 6px solid #fff;
  transform: rotate(45deg);
}
.center:hover {
  cursor: pointer;
}
@keyframes animate {
  0%{
    transform: translateY(0);
    opacity: .5;
  }
  50%{
    transform: translateY(80px);
    opacity: 1;
  }
  100%{
    transform: translateY(160px);
    opacity: 0;
  }
}
