@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
.data-div {
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
}

.header-div {
    opacity: 0.8;
    background-color: #f3f2f2;
    width: 100%;
    text-align: center;
    color: inherit;
    border: 2px solid #449D44;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.clearfix {
    clear: both;
}

.data-div div {
    height: 40px;
}

.data-left {
    background: linear-gradient(135deg, #b4ddb4 0%, #83c783 17%, #52b152 40%, #008a00 67%, #005700 82%, #002400 100%);    
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    text-align: center;
    font-weight: 900;
    margin-right: 10px;
    font-size: 18px;
    border: 1px solid white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.wrapper {
    display: flex;
    margin-bottom: 2px;
}

.data-left span,
.data-right span {
    width: 100%;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.data-left,
.data-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
}

.data-right {
  background: linear-gradient(135deg, #002400 0%, #005700 17%, #008a00 40%, #52b152 67%, #83c783 82%, #b4ddb4 100%);
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 50%;
    text-align: center;
}