@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	margin: 0 auto;
}

.nav-link {
	font-size: 20px !important;
}

main{
  font-size: 16px;
	font-family: 'Lora', Helvetica, sans-serif;
  position: relative;
  top: 20px;
	width: 95%;
	margin: 0 auto;
}

main div.row{
	width: 105%;
	padding-bottom: 20px;
}

.btn{
	cursor: pointer;
}

#navigation {
	margin: 0;
}

.message {
	text-align: center;
	width: 60%;
	z-index: 2;
	position: absolute;
	margin: -30px 20%;
}

#error{
	color:maroon;
    font-weight:bold;
}

#result{
    color:green;
    font-weight:bold;
}

#edit, #delete {
	font-size: 30px;
	color: inherit;
	text-decoration: none;	
}
